<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>894618975305-s4c4p63uhctspdkr1uc9sutfhbfslkp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894618975305-s4c4p63uhctspdkr1uc9sutfhbfslkp5</string>
	<key>API_KEY</key>
	<string>AIzaSyBktCQYy7kAW1cjM6slUPokUGtD0h3YEZI</string>
	<key>GCM_SENDER_ID</key>
	<string>894618975305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dtiholdings.burningbush</string>
	<key>PROJECT_ID</key>
	<string>e-bike-app</string>
	<key>STORAGE_BUCKET</key>
	<string>e-bike-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:894618975305:ios:7597bb98c2f4e882</string>
	<key>DATABASE_URL</key>
	<string>https://e-bike-app.firebaseio.com</string>
</dict>
</plist>
